body {
    margin: 0;
    text-align: center;

}
.top-container {
    background-color: #B9E0FF;
    position: relative;
    padding-top: 100px;
}
.middle-container {
    background-color: blueviolet;
    height: 200px;
    width: 200px;
}
.bottom-container {
    background-color: red;
    height: 200px;
    width: 200px;
}
h1 {
    margin: 0;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 5%;
    border-color: rgb(205, 205, 205);
}
.bottom-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}
.top-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}